/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sprite-ico-fb-name: 'sprite-ico-fb';
$sprite-ico-fb-x: 0px;
$sprite-ico-fb-y: 0px;
$sprite-ico-fb-offset-x: 0px;
$sprite-ico-fb-offset-y: 0px;
$sprite-ico-fb-width: 50px;
$sprite-ico-fb-height: 50px;
$sprite-ico-fb-total-width: 100px;
$sprite-ico-fb-total-height: 100px;
$sprite-ico-fb-image: '../images/sprite.png';
$sprite-ico-fb: (0px, 0px, 0px, 0px, 50px, 50px, 100px, 100px, '../images/sprite.png', 'sprite-ico-fb', );
$sprite-ico-inst-name: 'sprite-ico-inst';
$sprite-ico-inst-x: 50px;
$sprite-ico-inst-y: 0px;
$sprite-ico-inst-offset-x: -50px;
$sprite-ico-inst-offset-y: 0px;
$sprite-ico-inst-width: 50px;
$sprite-ico-inst-height: 50px;
$sprite-ico-inst-total-width: 100px;
$sprite-ico-inst-total-height: 100px;
$sprite-ico-inst-image: '../images/sprite.png';
$sprite-ico-inst: (50px, 0px, -50px, 0px, 50px, 50px, 100px, 100px, '../images/sprite.png', 'sprite-ico-inst', );
$sprite-ico-vk-name: 'sprite-ico-vk';
$sprite-ico-vk-x: 0px;
$sprite-ico-vk-y: 50px;
$sprite-ico-vk-offset-x: 0px;
$sprite-ico-vk-offset-y: -50px;
$sprite-ico-vk-width: 50px;
$sprite-ico-vk-height: 50px;
$sprite-ico-vk-total-width: 100px;
$sprite-ico-vk-total-height: 100px;
$sprite-ico-vk-image: '../images/sprite.png';
$sprite-ico-vk: (0px, 50px, 0px, -50px, 50px, 50px, 100px, 100px, '../images/sprite.png', 'sprite-ico-vk', );
$spritesheet-width: 100px;
$spritesheet-height: 100px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($sprite-ico-fb, $sprite-ico-inst, $sprite-ico-vk, );
$spritesheet: (100px, 100px, '../images/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
