@font-face {
  font-family: 'YanoneKaffeesatzRegular';
  font-weight: normal;
  font-style: normal;

  src: url('../fonts/yanonekaffeesatz-regular-webfont.eot');
  src: url('../fonts/yanonekaffeesatz-regular-webfont.eot?iefix') format('eot'), url('../fonts/yanonekaffeesatz-regular-webfont.woff') format('woff'), url('../fonts/yanonekaffeesatz-regular-webfont.ttf') format('truetype'), url('../fonts/yanonekaffeesatz-regular-webfont.svg#webfontiVAlVXNY') format('svg');
}

.lay1 .block_comm a,
.lay2 .block_comm a,
.lay3 .block_comm a {
  font-family: 'YanoneKaffeesatzRegular';
  font-weight: normal !important;
  line-height: 9px;

  float: left;

  margin-left: -3px;
  padding-top: 9px;

  text-align: center;
  letter-spacing: .05em;
}

.lay1 .block_comm span,
.lay2 .block_comm span,
.lay3 .block_comm span {
  font-family: 'YanoneKaffeesatzRegular';
  font-weight: normal !important;
  line-height: 9px;

  float: left;

  margin-left: 3px;
  padding-top: 14px;

  text-align: center;
  letter-spacing: .05em;
}

h1,
h2,
h3,
h4,
h5,
h6,
.trt_button a,
#submit_msg,
#submit,
.fourofour a,
.trt_wgt_tt,
#related ul li a,
.logo h1 a,
#slider .slider-content h2 a {
  font-family: 'YanoneKaffeesatzRegular';
  font-weight: normal !important;

  letter-spacing: .05em;
}

.lay1 {
  .post .postitle a,
  .page .postitle a {
    font-family: 'YanoneKaffeesatzRegular';
    font-weight: normal !important;

    letter-spacing: .05em;
  }
}

#topmenu ul li a {
  font-family: 'YanoneKaffeesatzRegular';
  font-weight: normal !important;

  letter-spacing: .05em;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 24px;
}

h3,
h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

.postitle a {
  font-size: 20px;
}

.single_page_post .postitle a {
  font-size: 24px;
}

#related .post_title,
#submit_msg,
#submit {
  font-family: 'YanoneKaffeesatzRegular' !important;
  font-size: 16px !important;
}

#topmenu ul li a {
  font-size: 14px !important;
}

#sidebar .widgets .widget ul li .znn_wgt_tt,
#midrow .widgets .widget ul li .znn_wgt_tt,
#footer .widgets .widget ul li .znn_wgt_tt {
  font-family: 'YanoneKaffeesatzRegular';
  font-size: 15px;
  font-weight: normal !important;

  letter-spacing: .05em;
}

.lay1 .post_content h2 a {
  font-size: 24px !important;
}
