
# BEGIN BackUpWordPress
# Этот файл .htaccess гарантирует, что другие люди не могут загрузить Ваши файлы резервных копий.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=43ec4448c1fbc6b4e65ece936f3a9287
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress
